%li
  %span.date= "#{payment.date} - "
  %span.amount= payment.decorate.formatted_amount
  %span.actions
    = link_to payment_path(payment), { class: 'btn btn-default', title: t('shared.show') } do
      = fa_icon "search"
    = link_to edit_payment_path(payment), { class: 'btn btn-default', title: t('shared.edit') } do
      = fa_icon "edit"
    = link_to payment_path(payment), { class: 'btn btn-default', method: :delete, title: t('shared.delete') } do
      = fa_icon "times"