- breadcrumb :payments
= link_to t('shared.add_new_item'), new_payment_path, class: 'btn btn-default'
.payments
  %table.table.table-condensed
    %thead
      %tr
        %th= t('student.columns.first_name')
        %th= t('student.columns.last_name')
        %th= t('payment.columns.paid')
        %th= t('payment.columns.list')
    %tbody
      - students.order(:last_name).each do |student|
        %tr
          %td= student.first_name
          %td= student.last_name
          %td{class: 'paid'}
            - if student.decorate.paid_tuition_for_this_month?
              %span.hidden= "yes"
              = fa_icon "check"
            - else
              %span.hidden= "no"
              = fa_icon "times"
          %td
            %ol
              - student.payments.order(:date).each do |payment|
                = render payment